<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infografía Jugadores</title>
</head>

<body>

    <main class="contenido">
        <h1>Infografía jugadores</h1>

        <div class="galeria">
            <figure>
                <a routerLink="/messi">
                    <img src="assets/img/messi.jpg" alt="Messi" />
                    <figcaption>Messi</figcaption>
                </a>
            </figure>
            <figure>
                <a routerLink="/ronaldo">
                    <img src="assets/img/ronaldo.jpg" alt="Cristiano Ronaldo" />
                    <figcaption>Ronaldo</figcaption>
                </a>
            </figure>
            <figure>
                <a routerLink="/james">
                    <img src="assets/img/james.jpg" alt="James Rodríguez" />
                    <figcaption>James</figcaption>
                </a>
            </figure>
        </div>
    </main>

</body>

</html>